
/******* Page Header CSS *******/

.page-header {
    position: relative;
    margin-bottom: 45px;
    padding: 90px 0;
    text-align: center;
    background: #FFD662;
}

.page-header h2 {
    color: #000000;
    font-size: 60px;
    font-weight: 100;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.page-header a {
    position: relative;
    padding: 0 12px;
    font-size: 22px;
    font-weight: 300;
    color: #00539C;
}

.page-header a:hover {
    color: #000000;
}

.page-header a::after {
    position: absolute;
    content: "/";
    width: 8px;
    height: 8px;
    top: -2px;
    right: -7px;
    text-align: center;
    color: #666666;
}

.page-header a:last-child::after {
    display: none;
}



/********** About CSS **********/

.about {
    position: relative;
    width: 100%;
    padding: 45px 0;
}

.about .about-img img {
    width: 100%;
    border-radius: 5px;
}

.about .about-text h2 {
    position: relative;
    color: #00539C;
    font-size: 50px;
    margin-bottom: 15px;
}

.about .about-text h2 span {
    font-size: 50px;
    font-weight: bold;
}

.about .about-text p {
    font-size: 16px;
    margin-bottom: 30px;
}

.about .about-text a.btn {
    padding: 15px 35px;
    font-size: 16px;
    text-transform: uppercase;
    color: #000000;
    border: none;
    border-radius: 5px;
    background: #FFD662;
    transition: .3s;
}

.about .about-text a.btn:hover {
    color: #ffffff;
    background: #00539C;
}

@media (max-width: 767.98px) {
    .about .about-img img {
        margin-bottom: 30px;
    }
}


/******* Section Header ********/

.section-header {
    position: relative;
    width: 100%;
    max-width: 550px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px;
    padding-bottom: 15px;
}

.section-header::before {
    position: absolute;
    content: "";
    width: 100px;
    height: 3px;
    left: calc(50% - 50px);
    bottom: 0;
    background: linear-gradient(to left, #FFD662, #00539C, #FFD662);
    border-radius: 100%;
}

.section-header::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 9px;
    left: calc(50% - 10px);
    bottom: -3px;
    background: #00539C;
    border-radius: 5px;
}

.section-header p {
    margin-bottom: 10px;
    font-size: 20px;
}

.section-header h2 {
    color: #00539C;
    font-size: 50px;
    font-weight: 100;
}

.section-header.left {
    text-align: left;
}

.section-header.left::before {
    width: 60px;
    left: 0;
    background: linear-gradient(to left, #FFD662, #00539C, #00539C);
    border-radius: 0 100% 100% 0;
}

.section-header.left::after {
    left: 0;
    border-radius: 5px;
}


/********** Story CSS **********/

.story {
    position: relative;
    width: 100%;
    padding: 45px 0 15px 0;
}

.story .container {
    max-width: 960px;
}

.story .story-container {
    position: relative;
    width: 100%;
}

.story .story-end,
.story .story-start,
.story .story-year {
    position: relative;
    width: 100%;
    text-align: center;
    z-index: 1;
}

.story .story-end p,
.story .story-start p,
.story .story-year p {
    display: inline-block;
    width: 100px;
    margin: 0;
    padding: 10px 0;
    text-align: center;
    background: #FFD662;
    border: 1px solid #00539C;
    border-radius: 5px;
    color: #000000;
    font-size: 16px;
    text-transform: uppercase;
}

.story .story-year {
    margin: 30px 0;
}

.story .story-continue {
    position: relative;
    width: 100%;
    padding: 60px 0;
}

.story .story-continue::before {
    position: absolute;
    content: "";
    width: 3px;
    height: 100%;
    top: 0;
    left: 50%;
    margin-left: -1.5px;
    background: #FFD662;
    border-left: 1px solid #00539C;
    border-right: 1px solid #00539C;
}

.story .row.story-left,
.story .row.story-right .story-date {
    text-align: right;
}

.story .row.story-right,
.story .row.story-left .story-date {
    text-align: left;
}

.story .story-date {
    padding: 0 5px;
    font-size: 14px;
    font-weight: 400;
    margin: 41px 0 0 0;
}

.story .story-date::after {
    content: '';
    display: block;
    position: absolute;
    width: 17px;
    height: 17px;
    top: 42px;
    background: #FFD662;
    border: 1px solid #00539C;
    border-radius: 15px;
    z-index: 1;
}

.story .row.story-left .story-date::after {
    left: -8.5px;
}

.story .row.story-right .story-date::after {
    right: -8.5px;
}

.story .story-box,
.story .story-launch {
    position: relative;
    display: inline-block;
    margin: 15px;
    padding: 20px 25px;
    border: 1px solid #dddddd;
    border-radius: 6px;
    background: #ffffff;
}

.story .story-launch {
    width: 100%;
    margin: 15px 0;
    padding: 0;
    border: none;
    text-align: center;
    background: transparent;
}

.story .story-box::after,
.story .story-box::before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}

.story .row.story-left .story-box::after,
.story .row.story-left .story-box::before {
    left: 100%;
}

.story .row.story-right .story-box::after,
.story .row.story-right .story-box::before {
    right: 100%;
}

.story .story-launch .story-box::after,
.story .story-launch .story-box::before {
    left: 50%;
    margin-left: -10px;
}

.story .story-box::after {
    top: 26px;
    border-color: transparent transparent transparent #ffffff;
    border-width: 10px;
}

.story .story-box::before {
    top: 25px;
    border-color: transparent transparent transparent #dddddd;
    border-width: 11px;
}

.story .row.story-right .story-box::after {
    border-color: transparent #ffffff transparent transparent;
}

.story .row.story-right .story-box::before {
    border-color: transparent #dddddd transparent transparent;
}

.story .story-launch .story-box::after {
    top: -20px;
    border-color: transparent transparent #dddddd transparent;
}

.story .story-launch .story-box::before {
    top: -19px;
    border-color: transparent transparent #ffffff transparent;
    border-width: 10px;
    z-index: 1;
}

.story .story-box .story-text {
    position: relative;
    float: left;
}

.story .story-launch .story-text {
    max-width: 400px;
}

.story .story-text h3 {
    color: #00539C;
    font-size: 18px;
    font-weight: 400;
}

.story .story-text p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
}

@media (max-width: 768px) {
    .story .story-continue::before {
        left: 48.5px;
    }
    
    .story .story-end,
    .story .story-start,
    .story .story-year,
    .story .row.story-left,
    .story .row.story-right .story-date,
    .story .row.story-right,
    .story .row.story-left .story-date,
    .story .story-launch {
        text-align: left;
    }
    
    .story .story-date {
        padding: 0;
    }
    
    .story .row.story-left .story-date::after,
    .story .row.story-right .story-date::after {
        left: 54.5px;
    }
    
    .story .story-box,
    .story .row.story-right .story-date,
    .story .row.story-left .story-date {
        margin-left: 77px;
    }
    
    .story .story-launch .story-box {
        margin-left: 0;
    }
    
    .story .row.story-left .story-box::after {
        left: -20px;
        border-color: transparent #ffffff transparent transparent;
    }

    .story .row.story-left .story-box::before {
        left: -22px;
        border-color: transparent #dddddd transparent transparent;
    }
    
    .story .story-launch .story-box::after,
    .story .story-launch .story-box::before {
        left: 30px;
        margin-left: 0;
    }
}