<div class="wrapper">
  <!-- Page Header Start -->
  <div class="page-header">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 i18n>{{"5736481176444461852"|translate}}</h2>
        </div>
        <div class="col-12">
          <a i18n href="Home">{{"2821179408673282599"|translate}}</a>
          <a i18n href="About">{{"5736481176444461852"|translate}}</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Header End -->
  <!-- Page Header End -->

  <!-- About Start -->
  <div class="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-6">
          <div class="about-img">
            <img src="assets/images/aboutus.jpg" alt="aboutus" />
          </div>
        </div>
        <div class="col-lg-7 col-md-6">
          <div class="about-text">
            <h2 i18n>{{"6133298905980780671"|translate}}</h2>
            <p i18n>
              {{"8014746615610034291"|translate}}
            </p>
            <p i18n>
             {{"4963545458460135420"|translate}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- About End -->

  <!-- Story Start -->
  <div class="story">
    <div class="container">
      <div class="section-header">
        <p i18n>{{"2344476685445126849"|translate}}</p>
        <h2 i18n style="padding-bottom: 20px">
          {{"3972229828843795592"|translate}}
        </h2>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <div class="story-container">
            <div class="story-end">
              <p i18n>{{"2241508602425256033"|translate}}</p>
            </div>
            <div class="story-continue">
              <div class="row story-right">
                <div class="col-md-6"></div>
                <div class="col-md-6">
                  <div class="story-box">
                    <div class="story-text">
                      <h3 i18n>{{"2012727291210055803"|translate}}</h3>
                      <p i18n>
                        {{"400704802838578125"|translate}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row story-left">
                <div class="col-md-6 d-md-none d-block">
                  <p class="story-date"></p>
                </div>
                <div class="col-md-6">
                  <div class="story-box">
                    <div class="story-text">
                      <h3 i18n>{{"8110184881284121725"|translate}}</h3>
                      <p i18n style="text-align: start">
                       {{"7118835210651176668"|translate}}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 d-md-block d-none">
                  <p class="story-date"></p>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <div class="story-year">
                    <p i18n>{{"4620310062886462675"|translate}}</p>
                  </div>
                </div>
              </div>

              <div class="row story-right">
                <div class="col-md-6">
                  <p class="story-date"></p>
                </div>
                <div class="col-md-6">
                  <div class="story-box">
                    <div class="story-text">
                      <h3 i18n>{{"8104519385005136479"|translate}}</h3>
                      <p i18n>
                       {{"3870996075847304713"|translate}}
                      </p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row story-left">
                <div class="col-md-6 d-md-none d-block">
                  <p class="story-date"></p>
                </div>
                <div class="col-md-6">
                  <div class="story-box">
                    <div class="story-text">
                      <h3 i18n>{{"1419680092224137940"|translate}}</h3>
                      <p i18n>
                        {{"1583248674280412816"|translate}}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 d-md-block d-none">
                  <p class="story-date"></p>
                </div>
              </div>

              <div class="row">
                <div class="col-12">
                  <div class="story-year">
                    <p i18n>{{"5828066829690602391"|translate}}</p>
                  </div>
                </div>
              </div>

              <div class="row story-right">
                <div class="col-md-6">
                  <p class="story-date"></p>
                </div>
                <div class="col-md-6">
                  <div class="story-box">
                    <div class="story-text">
                      <h3 i18n>{{"7121815990299221649"|translate}}</h3>
                      <p i18n>{{"7779651302850305447"|translate}}</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row story-left">
                <div class="col-md-6 d-md-none d-block">
                  <p class="story-date"></p>
                </div>
                <div class="col-md-6">
                </div>
                <div class="col-md-6 d-md-block d-none">
                  <p class="story-date"></p>
                </div>
              </div>
            </div>
            <div class="story-start">
              <button
                i18n
                style="
                  background-color: #ffd662;
                  width: 100px;
                  height: 50px;
                  border-radius: 5px;
                "
                class="download-btn"
                onclick="window.open('https://docs.google.com/forms/d/e/1FAIpQLSdH17DpWX0g-AlpNui3HKcTh42LEss0mehpDYsDE7sZkW5oIQ/viewform?usp=pp_url', '_blank');"
              >
                {{"5107530057766197526"|translate}}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Story End -->
</div>
