<!-- Footer Start -->
<div >
    <div class="footer" >
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-4">
                    <div class="footer-contact">
                        <h2 i18n>{{"4153787616708320320"|translate}}</h2>
                        <p><i class="fa fa-map-marker-alt"></i>Munich Unterschleissheim</p>
                        <p><i class="fa fa-phone-alt"></i>+491747332772</p>
                        <p><i class="fa fa-envelope"></i>Friendscleanmg&#64;gmail.com</p> 
                        <p i18n>{{"6776797437721032525"|translate}}</p> 
                        <div class="footer-social">
                            <a href=""><i class="fab fa-twitter"></i></a>
                            <a href="https://www.facebook.com/share/TLn8LmjfzG2Uspbb/?mibextid=WC7FNe"><i
                                    class="fab fa-facebook-f"></i></a>
                            <a href=""><i class="fab fa-youtube"></i></a>
                            <a href="https://www.instagram.com/mgfriendsclean"><i class="fab fa-instagram"></i></a>
                            <a href=""><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="footer-link">
                        <h2 i18n>{{"3894347693662504381"|translate}}</h2>
                        <a i18n href="About">{{"5736481176444461852"|translate}}</a>
                        <a i18n href="Services">{{"9063344890262493319"|translate}}</a>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <img   id="imggg"  src="assets/images/FooterLogo.PNG" />
                </div>
    
            </div>
        </div>
    
        <div class="container copyright">
            <div class="row">
                <div class="col-md-12">
                    <p  i18n>{{"6162157977972494122"|translate}}</p>
                </div>
    
            </div>
        </div>
    </div> 
 </div>

<!-- Footer End -->