<div class="wrapper">
  <div class="header home">
    <div class="container-fluid">
      <div class="header-top row align-items-center" style="padding-bottom: 0%">
        <div class="col-lg-3">
          <div class="brand">
            <a href="Home">
              <img src="assets/images/Logo.PNG" alt="Logo" />
            </a>
          </div>
        </div>
        <div class="col-lg-9">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a
                      i18n
                      class="nav-link"
                      aria-current="page"
                      href="#"
                      >{{ "2821179408673282599" | translate }}</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      i18n
                      class="nav-link"
                      aria-current="page"
                      href="/About"
                      >{{ "1726363342938046830" | translate }}</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                      i18n
                      class="nav-link "
                      aria-current="page"
                      href="/Services"
                      >{{ "7143579180750436311" | translate }}</a
                    >
                  </li>
                  <li *ngIf="!isLogged" class="nav-item list-unstyled">
                    <a
                      i18n
                      class="nav-link login-btn"
                      id="loginNavLink"
                      href="/Login"
                      >{{ "8225355642353524911" | translate }}</a
                    >
                  </li>
                  <li *ngIf="isLogged" class="nav-item list-unstyled">
                    <a
                      i18n
                      class="nav-link login-btn"
                      id="loginNavLink"
                      href="/ChangePassword"
                      >
                      {{ "514552713850151888" | translate }}
                      </a
                    >
                  </li>
                  <li *ngIf="isLogged" class="nav-item list-unstyled">
                    <a
                      i18n
                      (click)="handleLogOut()"
                      class="nav-link login-btn"
                      id="loginNavLink"
                      href="/Login"
                      >
                      {{ "7504940227782988572" | translate }}
                      </a
                    >
                  </li>
                  <li class="nav-item dropdown">
                    <a
                      class="nav-link dropdown-toggle"
                      href="#"
                      id="navbarDropdown"
                      role="button"
                      data-bs-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      Select Language
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a role="button" (click)="switchLanguage('de')"  class="dropdown-item">Deutsch</a>
                      <a role="button" (click)="switchLanguage('en')" class="dropdown-item">English</a>
                      <a role="button" (click)="switchLanguage('ar')" class="dropdown-item">Arabic</a>
                    </div>
                  </li>
                  <!-- <button (click)="switchLanguage('en')">english</button
                  ><button (click)="switchLanguage('ar')">arabic</button
                  ><button (click)="switchLanguage('de')">deutsch</button> -->
                </ul>
              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
