<div class="body">
  <div class="wrapper">
    <!-- Header Start -->
    <div class="header home">
      <div class="container-fluid">
        <div class="hero row align-items-center">
          <div class="col-md-12 col-lg-6 col-sm-12">
            <h2 style="padding-left: 15px !important">Friends</h2>
            <h2 style="padding-left: 10px !important">
              <span>Cleans</span> MG
            </h2>
            <p i18n style="padding-left: 15px !important">
              {{ "7076533281093840692" | translate }}
            </p>
            <div style="padding-left: 10px !important">
              <a i18n class="btn" href="About">{{"934914398317254321"|translate}}</a>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 col-sm-12" style="padding-left: 10px">
            <img id="imgg" src="assets/images/headerr.jpg" />
          </div>
        </div>
      </div>
    </div>
    <!-- Header End -->
    <!-- About Start -->
    <div class="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-6">
            <div class="about-img">
              <img src="assets/images/Header2.jpg" alt="Image" />
            </div>
          </div>
          <div class="col-lg-7 col-md-6">
            <div class="about-text">
              <!-- looookkkk -->
              <!-- <h2 i18n><span>{{"4715094694892014591"|translate}}</span> To Our Company</h2> -->
              <h2 i18n>{{"4715094694892014591"|translate}}</h2>             
              <p i18n>
                {{"8014746615610034291"|translate}}
              </p>
              <p i18n>
               {{"4963545458460135420"|translate}}
              </p>
              <a i18n class="btn" href="About">{{"7002955679222677443"|translate}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About End -->
    <!-- Service Start -->
    <div class="service">
      <div class="container">
        <div class="section-header">
          <p i18n>{{"9063344890262493319"|translate}}</p>
          <h2 i18n>{{"5178047687155577312"|translate}}</h2>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="service-item">
              <img src="assets/images/HomeCleaning.jpg" alt="Service" />
              <h3 i18n>{{"2496701500166281208"|translate}}</h3>
              <p i18n>
               {{"7432722011722020845"|translate}}
              </p>
              <a i18n class="btn" href="HouseServices">{{"7002955679222677443"|translate}}</a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="service-item">
              <img src="assets/images/cleaning Service.jpg" alt="Service" />
              <h3 i18n>{{"989668357397948324"|translate}}</h3>
              <p i18n>
                {{"3645355300764169183"|translate}}
              </p>
              <a i18n class="btn" href="HotelServices">{{"7002955679222677443"|translate}}</a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="service-item">
              <img src="assets/images/gardenCleaning.jpg" alt="Service" />
              <h3 i18n>{{"659390662856901116"|translate}}</h3>
              <p i18n>
                {{"633871453171890576"|translate}}
              </p>
              <a i18n class="btn" href="GardenServices">{{"7002955679222677443"|translate}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Service End -->
    <div class="call-to-action">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-9">
            <h2 i18n>{{"1458127953082774822"|translate}}</h2>
            <p i18n>{{"4998453680005234098"|translate}}</p>
          </div>
          <div class="col-md-3">
            <a
              i18n
              class="btn"
              href="https://wa.me/+491747332772?text=Your%20message%20here"
              id="btn"
              >{{"759687838251957893"|translate}}</a
            >
          </div>
        </div>
      </div>
    </div>
    <!-- Call to Action End -->
    <!-- strategy Start -->
    <div class="blog">
      <div class="container">
        <div class="section-header">
          <p i18n>{{"8474942222688011323"|translate}}</p>
          <h2 i18n>{{"143658597545038077"|translate}}</h2>
        </div>
        <div class="row">
          <div class="col-lg-3 col-md-6">
            <div class="blog-item">
              <img src="assets/images/Book.jpg" alt="Blog" />
              <h3 i18n>{{"481239491661657812"|translate}}</h3>
              <p i18n>{{"352747090274448344"|translate}}</p>
            </div>
          </div>
          <div class="col-lg-1 arrow">
            <i class="fas fa-arrow-right"></i>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="blog-item">
              <img src="assets/images/cleaning.png" alt="Blog" />
              <h3 i18n>{{"5514962290219915087"|translate}}</h3>
              <p i18n>
               {{"3745595899762587669"|translate}}
              </p>
            </div>
          </div>
          <div class="col-lg-1 arrow">
            <i class="fas fa-arrow-right"></i>
          </div>
          <div class="col-lg-3 col-md-6">
            <div class="blog-item">
              <img src="assets/images/relax.jpg" alt="Blog" />
              <h3 i18n>{{"7594122271664736720"|translate}}</h3>
              <p i18n>
                {{"2467928782456450659"|translate}}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- strategy End -->

    <!-- <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a> -->
    <button class="back-to-top" appScrollTop i18n>{{"614274023083311954"|translate}}</button>
  </div>
</div>
