<div class="wrapper">
  <div class="service">
    <div class="container">
      <div class="section-header">
        <h2 i18n>{{ "3063963565071368710" | translate }}</h2>
      </div>
      <div class="row">
        <div class="col-lg-6 offset-lg-3">
          <form
            [formGroup]="passwordForm"
            id="serviceForm"
            enctype="multipart/form-data"
          >
            <div class="form-group">
              <label i18n for="serviceName">{{
                "3000290605009809482" | translate
              }}</label>
              <input
                type="email"
                class="form-control"
                id="serviceName"
                formControlName="email"
                name="serviceName"
                required
              />
              <div
                class="error"
                *ngIf="
                  passwordForm.controls['email']?.invalid &&
                  (passwordForm.controls['email']?.dirty ||
                    passwordForm.controls['email']?.touched)
                "
              >
                <div
                  *ngIf="(passwordForm.controls['email']?.errors)!['required']"
                >
                  {{ "781716318830882" | translate }}
                </div>
              </div>
            </div>
            <div class="form-group">
              <label i18n for="serviceDescription">{{
                "1221596867309460035" | translate
              }}</label>
              <input
                type="password"
                class="form-control"
                id="serviceName"
                formControlName="newPassword"
                name="serviceName"
                required
              />
              <div
                class="error"
                *ngIf="
                  passwordForm.controls['newPassword']?.invalid &&
                  (passwordForm.controls['newPassword']?.dirty ||
                    passwordForm.controls['newPassword']?.touched)
                "
              >
                <div
                  i18n
                  *ngIf="
                    (passwordForm.controls['newPassword']?.errors)!['required']
                  "
                >
                  {{ "2471440330086389746" | translate }}
                </div>
              </div>
            </div>
            <div class="form-group">
              <label i18n for="serviceDescription">{{
                "6576805318521783926" | translate
              }}</label>
              <input
                type="password"
                class="form-control"
                id="serviceName"
                formControlName="confirmPassword"
                name="serviceName"
                required
              />
              <div
                class="error"
                *ngIf="
                  passwordForm.controls['confirmPassword']?.invalid &&
                  (passwordForm.controls['confirmPassword']?.dirty ||
                    passwordForm.controls['confirmPassword']?.touched)
                "
              >
                <div
                  *ngIf="
                    (passwordForm.controls['confirmPassword']?.errors)![
                      'required'
                    ]
                  "
                >
                  {{ "6576805318521783926" | translate }}
                </div>
              </div>
              <div
                i18n
                class="error"
                *ngIf="
                    passwordForm.errors?.['passwordMismatch'] &&
                    (passwordForm.controls['newPassword']?.dirty ||
                        passwordForm.controls['newPassword']?.touched)
                    "
              >
                {{ "2319657844488624318" | translate }}
              </div>
            </div>
            <br />
            <div *ngIf="errors" class="form-group">
              <p i18n style="color: red">{{ errors }}</p>
            </div>
            <br />
            <button
              i18n
              type="button"
              class="btn btn-primary"
              [disabled]="passwordForm.invalid"
              (click)="handleEditingPassword()"
            >
              {{ "3063963565071368710" | translate }}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
